<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341980240867-4qua8ul5uv8jf5k7uc7qgto2i0o3pk2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341980240867-4qua8ul5uv8jf5k7uc7qgto2i0o3pk2t</string>
	<key>API_KEY</key>
	<string>AIzaSyDDGR-DOR7J4QHUGyqTsQ9sBsCTWz_eC6w</string>
	<key>GCM_SENDER_ID</key>
	<string>341980240867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mytodo</string>
	<key>PROJECT_ID</key>
	<string>mytodo-2967d</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodo-2967d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341980240867:ios:4ff7557c7c5e00c8261ed6</string>
</dict>
</plist>